.header {
    &.header {
        position: fixed;
        z-index: 1000;
        top: 0%;
        width: 100%;

        background-color: rgba($color: #000000, $alpha: 0.8);
    }

    padding: 0.5em 4.5em;

    @include breakpoint_down(tablet) {
        padding: 0.5em 1.5em;
    }

    &__name {
        position: relative;
        font-size: $font_large;
        @include breakpoint_down(tablet) {
            font-size: $font_m_large;
        }
    }

    &__tabs {
        position: relative;
        margin-right: 1.25rem;
        > a {
            position: relative;
            padding: 0% 1.25rem;
            font-size: $font_small;
            letter-spacing: 0.1rem;

            &:hover {
                font-weight: bold;
                padding: 1rem 1.25rem;
                &:before {
                    content: " ";
                    position: absolute;
                    background: $light_blue;
                    z-index: -1;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;

                    padding-bottom: 10em;
                    // transform: translateY(0.75rem);
                }
            }
        }
    }

    &__menu__burger {
        position: relative;

        > span {
            display: block;

            width: 1.875rem;
            height: 0.3125rem;

            background-color: $white;
            transform-origin: center center;

            border-radius: 1rem;

            transition: all 150ms ease-in-out;

            &:nth-child(2) {
                width: 1.25rem;
                margin-left: 1.875rem - 1.25rem;
            }

            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }
        }

        &.closed {
            > span {

                &:nth-child(2) {
                    opacity: 100%;
                }
            }
        }

        &.opened {
            > span {

                &:first-child {
                    transform: translateY(0.25rem + 0.3125rem) rotate(45deg);
                }

                &:last-child {
                    transform: translateY(-0.25rem - 0.3125rem) rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0%;
                }
            }
        }
    }

    &__menu {
        position: fixed;
        z-index: 500;
 
        bottom: 0%;
        right: 0%;
        left: 0%;

        height: 100%;


        &__background {
            position: relative;
            
            background-image: linear-gradient(to bottom, $black, $dark_blue);
            opacity: 90%;
            
            width: 100%;
            height: 100%;
        }

        &__tabs {
            position: absolute;

            width: 100%;
            height: 100%;
            margin-top: 3.4375rem;
            top: 0%;
            bottom: 0%;
            right: 0%;
            left: 0%;

            > a {
                display: block;
                text-align: center;

                padding-top: 0.9rem;
                padding-bottom: 0.9rem;
            }

            > nav {
                padding-top: 0.9rem;
                padding-bottom: 0.9rem;
            }
        }
        
        &.opened {
            visibility: visible;
        }

        &.closed {
            visibility: hidden;
        }
    }

}