// Colors
$navy_blue: rgba(24, 44, 97, 1.0);
$blue_bell: rgba(59, 59, 152, 1.0);
$clear_chill: rgba(27, 156, 252, 1.0);
$spiro_disco_ball: rgba(37, 204, 247, 1.0);

$imperial_primer: rgba(34, 47, 62,1.0);
$fuel_town: rgba(87, 101, 116,1.0);
$storm_petrel: rgba(131, 149, 167,1.0);
$light_blue_ballerina: rgba(200, 214, 229,1.0);

$white: rgba(255, 255, 255, 255);

// Font sizes
$font-small: 11px;
$font-medium: 14px;
$font-large: 21px;
$font-xlarge: 32px;