.button {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;

    justify-content: center;
    align-items: center;

    width: 10rem;
    height: 3.5rem;

    background: $light_blue;
    border-radius: 0.75rem;
}

a {
    &.button {
        > p {
            margin: 0%;
            letter-spacing: 0%;
            font-size: $font_small;
            text-align: center;
            padding-bottom: 0.2rem;
        }

        transition: background 150ms ease-in-out;

        &:hover {
            background: $sea_blue;
        }

        &.wireframe {
            border: 0.0625rem solid $white;
            background: transparent;

            transition: none;
            &:hover {
                border: 0.125rem solid $white;
                > p {
                    font-weight: bold;
                }
            }
        }
    }
}