// Colors
$black: rgba(0, 0, 0, 255);
$white: rgba(255, 255, 255, 255);
$light_blue: #00A8E8;
$sea_blue: #007EA7;
$dark_blue: #003459;

// Font sizes
$font_xsmall: 0.5rem;
$font_small: 1rem;
$font_medium: 1.5rem;
$font_large: 3rem;
$font_xlarge: 3.5rem;

$font_m_xsmall: 0.5rem;
$font_m_small: 1rem;
$font_m_medium: 1.5rem;
$font_m_large: 1.875rem;
$font_m_xlarge: 2.275rem;